<!-- your cars for sale -->
<% if current_user && @cars_for_sale.any? %>
  <h2>Your Cars for Sale</h2>
  <div class="row">
    <% @cars_for_sale.each do |car| %>
      <div class="col-md-4">
        <div class="card">
            <% model = car.car_model %>
            <img class="card-img-top" src="https://source.unsplash.com/300x300/?<%= model %>" alt="for sale">
          <div class="card-header">
            <%= car.car_model %>
          </div>
          <div class="card-body">
            <p><strong>Car Info:</strong> <%= car.car_info %></p>
            <p><strong>Price:</strong> $<%= car.car_price %></p>
            <p><strong>Offer Status:</strong> <%= car.offer_status ? 'Active' : 'Inactive' %></p>
          </div>
          <%= link_to "Edit", edit_car_path(car), class: "offer_link btn btn-dark mx-2 rounded-pill px-4 py-2" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h2 class="text-center mt-5 mb-3 text-danger">Oops!</h2>
  <p class="lead text-center">You currently don't have any cars listed for sale.</p>
<% end %>

<h1>Browse Current Offers</h1>

<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @offers.each do |offer| %>
      <div class="col-md-4 mb-4">
        <div class="card">
        <% model = offer.car.car_model %>
        <img class="card-img-top" src="https://source.unsplash.com/300x300/?car <%= model %>" alt="for sale">
          <div class="card-body">
            <h5 class="card-title"><strong><%= offer.car.car_model %></strong></h5>
            <p class="card-text">
              <strong>Seller:</strong> <%= offer.car.seller.name %><br>
              <strong>Buyer:</strong> <%= offer.buyer.name %><br>
              <strong>Price:</strong> <%= "¥" + number_with_delimiter(offer.car.car_price.to_s) %><br>
            </p>
            <%= link_to 'View Offer', offer_path(offer), class: "btn btn-dark mx-3 rounded-pill px-4 py-2 d-flex justify-content-center" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
