<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          Offer for <%= @offer.car.car_model %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong><%= @offer.car.car_model %></strong></h5>
          <p class="card-text">
            <strong>Car Info:</strong> <%= @offer.car.car_info %><br>
            <strong>Seller:</strong> <%= @offer.car.seller.name %><br>
            <strong>Buyer:</strong> <%= @offer.buyer.name %><br>
            <strong>Price:</strong> <%= "¥" + number_with_delimiter(@offer.car.car_price.to_s) %><br>
          </p>

          <% if current_user == @offer.car.seller %>
            <div class="btn-group">
              <% if @offer.approved %>
                <%= link_to 'Approved', '#', class: "btn btn-success disabled" %>
              <% elsif @offer.declined %>
                <%= link_to 'Declined', '#', class: "btn btn-danger disabled" %>
              <% else %>
                <%= link_to 'Approve', '#', class: "btn btn-success" %>
                <%= link_to 'Decline', '#', class: "btn btn-danger" %>
              <% end %>
            </div>
          <% elsif current_user == @offer.buyer %>
            <p>Status: <span class="badge bg-info"><%= @offer.status %></span></p>
          <% else %>
            <p>No offers yet</p>
          <% end %>


          <%= link_to 'Back to Offers', offers_path, class: "btn btn-secondary" %>

        </div>
      </div>
    </div>
  </div>
</div>
