<div class="container col-4">
  <%= simple_form_for @car, data: { controller: 'sell-car-form' } do |f| %>
    <%= f.input :car_model, label: "Car Model" %>
    <%= f.input :car_info, label: "Description", as: :text %>
    <%= f.input :car_price, label: "Price" %>
    <%= f.button :submit, "Submit", class: 'btn btn-dark mx-2 rounded-pill px-4 py-2', data: { action: 'click->sell-car-form#submit' } %>
  <% end %>
</div>
