<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1511994477422-b69e44bd4ea9);">
  <h1 class="title">Welcome to Wheelzdealz !</h1>
</div>
<div>
    <h1>Explore All Vehicles</h1>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
</div>

<div class="card-container mt-4 row row-cols-1 row-cols-md-4 g-4 justify-content-center">
  <% @cars.each do |car| %>
      <div class="card m-3" style="width: 18rem;">
        <%= link_to car_path(car), class: "text-decoration-none text-dark" do %>
        <% model = car.car_model %>
        <img class="card-img-top" src="https://source.unsplash.com/300x300/?<%= model %>" alt="for sale">
        <div class="card-body">
          <h2><%= car.car_model %></h2>
          <details>
          <summary>learn more</summary>
          <pre><code>
          <p><%= truncate(car.car_info, length: 10, separator: ' ') %></p>
          </code></pre>
          </details>
          <span><%= "¥" + number_with_delimiter(car.car_price.to_s) %></span>
        </div>
         <% end %>
      </div>
  <% end %>
</div>




<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright 2023 @Wheelzdealz. All Rights Reserved.
  </div>
</div>
