<div class="container">
  <div class="row justify-content-center">
    <div class="card shadow-lg rounded" style="width: 18rem;">
      <% model = @car.car_model %>
      <img class="card-img-top mt-3" src="https://source.unsplash.com/300x300/?<%= model %>" alt="for sale">
      <div class="card-body">
        <h2><%= @car.car_model %></h2>
        <p class="mb-1"><strong>Description:</strong> <%= @car.car_info %></p>
        <p class="mb-1"><strong>Price:</strong> <%= @car.car_price %></p>
        <p class="mb-0"><strong>Name:</strong> <%= @car.user.name %></p>
        <p class="mb-0"><strong>Email:</strong> <%= @car.user.email %></p>
      </div>
    </div>
  </div>
</div>
