<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg rounded d-flex mt-1">
    <div class="row no-gutters align-items-center">
      <div class="col-md-4">
        <% model = @car.car_model %>
        <img class="card-img" src="https://source.unsplash.com/300x300/?<%= model %>" alt="for sale">
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <h2 class="card-title"><%= @car.car_model %></h2>
          <p class="card-text mb-1"><strong>Description:</strong> <%= @car.car_info %></p>
          <p class="card-text mb-1"><strong>Price:</strong> <%= "¥" + number_with_delimiter(@car.car_price.to_s) %></p>
          <p class="card-text mb-0"><strong>Name:</strong> <%= @car.seller.name %></p>
          <p class="card-text mb-0"><strong>Email:</strong> <%= @car.seller.email %></p>
        </div>
        <div class="d-flex justify-content-center">
          <%= link_to "Edit", edit_car_path(@car), class: "offer_link btn btn-primary mx-5" %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
